@import 'partial/variables';
@import 'partial/mixins';
@import 'partial/reset';


.slider {
    position: relative;
    .inner {
        height:  500px;
        .item {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0;
            @include transition(.4s ease);
            &.active {
                z-index: 1;
                opacity: 1;
            }

            img {
                width: 100%;
                height:  500px;
            }
        }
    }

    .slider-btn {
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        z-index: 2;
        color: #fff;
        font-size: var(--step-1);
    }

    .prev-btn {
        left: .8rem;
    }

    .next-btn {
        right: .8rem;
    }

    .dots {
        position: absolute;
        left: 0;
        bottom: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        span {
            display: inline-block;
            width: 40px;
            height: 4px;
            background-color: #fff;
            margin-right: 5px;
            opacity: .5;
            transition: opacity .3s ease;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
            &.active {
                opacity: 1;
            }
        }
    }
}

.copy {
	top: 90%;
	left: 50%;
	transform: translate(-50%, -80%);
	font-size: var(--step-0);

    p {
        color: $inspiredText;
        font-weight: 300;

        a {
            color: $zaurGitHubLink;
            text-decoration: none;
            font-size: var(--step--1);
            font-weight: 200;
        }
    }
}






